/* Navigation bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
/* ITEM */
.item {
  --item-box-height: 24px;
  width: 69px;
  height: var(--item-box-height);
  margin-right: 27px;

  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: var(--item-box-height);
  line-height: var(--item-box-height);
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  letter-spacing: 0.15em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.main_button {
  background-color: var(--dark-grey);
  color: white;
  padding: 0.5ch 4em;
}
.main_button:hover {
  --move: 5px;
  color: var(--text-hover-color);
  background-color: var(--hover-box-color);
  box-shadow: var(--move) var(--move) 0 0 var(--text-hover-color);
  transform: translateX(calc(var(--move) * -1)) translateY(calc(var(--move) * -1));
}